.add-to-cart-modal {
  position: relative;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-right: $mobile-padding;
  padding-bottom: 45px;
  padding-left: $mobile-padding;

  @include font-name;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  &--show {
    display: flex;
  }
}

.add-to-cart-modal__title {
  width: 170px;
  margin: 0;
  margin-bottom: 12px;

  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.add-to-cart-modal__text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.add-to-cart-modal__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;
}

.add-to-cart-modal__item {
  width: 30%;
  margin-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;

  text-align: center;

  border: 2px solid rgba(#444444, 0.1);

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-color: rgba(#444444, 0.3);
  }

  &:active {
    border-color: $tiffany-color;
  }
}

.add-to-cart-modal__button {
  width: 100%;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $tiffany-color;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .add-to-cart-modal {
    left: 50%;

    width: 566px;
    margin-left: -283px;

    font-size: 17px;
  }

  .add-to-cart-modal__title {
    width: 100%;
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 57px;

    br {
      display: none;
    }
  }

  .add-to-cart-modal__list {
    width: auto;
  }

  .add-to-cart-modal__item {
    width: 112px;
    margin-right: 10px;
  }

  .add-to-cart-modal__button {
    width: 350px;
  }
}

@media (min-width: $desktop-width) {
  .add-to-cart-modal {
    left: 50%;

    width: 566px;
    margin-left: -283px;

    font-size: 17px;
  }

  .add-to-cart-modal__title {
    width: 100%;
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 57px;

    br {
      display: none;
    }
  }

  .add-to-cart-modal__list {
    width: auto;
  }

  .add-to-cart-modal__item {
    width: 112px;
    margin-right: 10px;
  }

  .add-to-cart-modal__button {
    width: 350px;
  }
}