.index-title {
  margin: 0;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .index-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .index-title {
    font-size: 53px;
    line-height: 57px;
  }
}
