.reviews {
  position: relative;

  @include font-name;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 100% 6px;
  }
}

.reviews__inner {
  position: relative;

  padding-top: 15px;
  padding-right: $mobile-padding;
  padding-bottom: 50px;
  padding-left: $mobile-padding;
}

.reviews__title {
  margin-bottom: 22px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 25px;

  br {
    display: none;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  &--nickname {
    font-weight: 400;
  }
}

.reviews__buttons-list {
  display: flex;
  width: 100%;
  height: 52px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  list-style: none;

  border: 1px solid #ececec;
}

.reviews__button {
  width: 50%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 26px;

  cursor: pointer;

  &--left {
    background-image: url("../img/left-arrow.svg");
    border-right: 1px solid #ececec;
  }

  &--right {
    background-image: url("../img/right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write-us-button {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .reviews {
    font-size: 17px;
    line-height: 30px;

    background-image: url("../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {

      width: 100%;
      height: 17px;

      background-size: 100% 17px;
    }
  }

  .reviews__inner {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    padding-top: 76px;
    padding-right: $tablet-padding;
    padding-bottom: 130px;
    padding-left: $tablet-padding;
  }

  .reviews__title {
    order: -2;
    margin: 0;
    margin-left: -5px;
  }

  .reviews__item {
    margin: 0;
  }

  .reviews__text {
    margin-top: 48px;
    margin-bottom: 55px;
  }

  .reviews__author {
    width: calc(100% - 167px);
    margin: 0;

    font-size: 17px;
    letter-spacing: 0.7px;

    &--nickname {
      display: block;

      letter-spacing: -0.1px;
    }
  }

  .reviews__buttons-list {
    position: absolute;
    right: $tablet-padding + 3px;
    bottom: 133px;

    display: flex;
    width: 167px;
    margin: 0;

    border: none;
  }

  .reviews__button {
    &--left {
      border: none;
    }
  }

  .reviews__write-us-button {
    order: -1;
    width: 175px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 0;

    font-size: 17px;
    line-height: 30px;

    &::after {

      width: 100%;
      height: 17px;

      background-size: 100% 17px;
    }
  }

  .reviews__inner {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-right: $desktop-padding;
    padding-bottom: 180px;
    padding-left: $desktop-padding;

    background-image: url("../img/review@1x.jpg");
    background-position: $desktop-padding 0;
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: -2;
    margin: 0;
    margin-left: 170px;
  }

  .reviews__item {
    width: 100%;
    margin: 0;
  }

  .reviews__text {
    width: 770px;
    margin-top: 43px;
    margin-bottom: 35px;
    margin-left: 175px;

    br {
      display: block;
    }
  }

  .reviews__author {
    width: calc(100% - 167px);
    margin: 0;
    margin-left: 175px;

    font-size: 17px;

    &--nickname {
      display: block;
      margin: 0;
    }
  }

  .reviews__buttons-list {
    position: absolute;
    right: $tablet-padding + 4px;
    bottom: 180px;

    display: flex;
    width: 167px;
    margin: 0;

    border: none;
  }

  .reviews__button {
    &--left {
      border: none;
    }
  }

  .reviews__write-us-button {
    order: -1;
    width: 175px;
    margin-top: 10px;
    margin-left: auto;
  }
}
