.socials {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item {
  margin-right: 40px;

  fill: #221f1f;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    .socials__item-icon {
      fill: $tiffany-color-4;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link {

}

.socials__item-icon {
  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 28px;
    margin-top: -5px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .socials__item {
    margin-right: 42px;
  }
}

@media (min-width: $desktop-width) {
}