@import "normalize";
@import "variables.scss";
@import "mixins.scss";

// шрифты
@font-face {
  font-family: $main-font;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: $main-font;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@import "./blocks/visually-hidden.scss";
@import "./blocks/sprite.scss";
@import "./blocks/overlay.scss";
@import "./blocks/button.scss";
@import "./blocks/index-title.scss";
@import "./blocks/socials.scss";
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/products.scss";
@import "./blocks/week-product.scss";
@import "./blocks/about.scss";
@import "./blocks/reviews.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
@import "./blocks/add-to-cart-modal.scss";
@import "./blocks/main.scss";
@import "./blocks/catalog-item.scss";
@import "./blocks/production.scss";
@import "./blocks/form.scss";
