$main-font: "OpenSans", "Arial", sans-serif;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-padding: 30px;
$tablet-padding: 50px;
$desktop-padding: 50px;

$retina-dppx: 2dppx;

$tiffany-color: #63d1bb;
$tiffany-color-2: #56c3b2;
$tiffany-color-3: #149080;
$tiffany-color-4: #46c1ae;
$tiffany-color-5: #62d1ba;
